#chat .welcome {
    color: #00CDBB;}
.grid .cell .top .expires span {
	color: hsla(220, 0%, 5%, 0)  !important;}
.user-content.communities .grid .cell, .grid .cell {
    background: radial-gradient(hsla(220, 0%, 5%, 0), hsla(220, 0%, 5%, 0)) !important;}
.grid .cell .meta .host {
	text-align: center !important;
	top: 6px !important;
	color: #eee !important;}

/*Menu info user*/
#user-rollover {
    background: rgba(0, 0, 0, 0.5);}
#user-rollover .info {
    background: none;}
#user-rollover .actions .action:hover {
    background: hsla(200, 100%, 55%, 0);}
#user-rollover .actions .giftsub,
#user-rollover .actions .skip {
    -webkit-box-shadow: inset 0 -2px 0 -1px hsla(200, 100%, 55%, 0);
    -moz-box-shadow: inset 0 -2px 0 -1px hsla(200, 100%, 55%, 0);
    box-shadow: inset 0 -2px 0 -1px hsla(200, 100%, 55%, 0);}
#user-rollover .actions .friend,
#user-rollover .actions .gift,
#user-rollover .actions .ignore,
#user-rollover .actions .mention {
    -webkit-box-shadow: inset 2px 0 0 -1px hsla(200, 100%, 55%, 0);
    -moz-box-shadow: inset 2px 0 0 -1px hsla(200, 100%, 55%, 0);
    box-shadow: inset 2px 0 0 -1px hsla(200, 100%, 55%, 0);}
#user-rollover .actions .mod-dj {
    -webkit-box-shadow: inset 0 2px 0 -1px hsla(146, 53%, 51%, 0.65);
    -moz-box-shadow: inset 0 2px 0 -1px hsla(200, 100%, 55%, 0);
    box-shadow: inset 0 2px 0 -1px hsla(200, 100%, 55%, 0);}
#user-rollover .actions .mod-ban,
#user-rollover .actions .mod-mute,
#user-rollover .actions .mod-staff {
    -webkit-box-shadow: inset 1px 1px 0 0 hsla(200, 100%, 55%, 0);
    -moz-box-shadow: inset 1px 1px 0 0 hsla(200, 100%, 55%, 0);
    box-shadow: inset 1px 1px 0 0 hsla(200, 100%, 55%, 0);}
.action.rcs-qmute {
    box-shadow: hsla(40, 53%, 51%, 0.65) 0px 2px 0px -1px inset !important;}
.action.rcs-qban {
    box-shadow: hsla(40, 53%, 51%, 0.65) 1px 1px 0px 0px inset !important;}
.action.rcs-qinfo {
    box-shadow: hsla(112, 53%, 51%, 0.64) 1px 1px 0px 0px inset !important;}
#user-rollover .meta {
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;}

/*BG Icone avatar*/
.thumb .background {
    background: rgba(0, 0, 0, 0);}

/* Cores menu conf comu */
#room-settings .general-settings .option.enabled>button.off {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));}
#room-settings .general-settings .option button {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91));}
#room-settings .general-settings .option button.off {
    background: linear-gradient(hsla(282, 61%, 16%, 0.95), hsla(282, 61%, 16%, 0.95));}
#room-settings .general-settings .option.enabled>button.on {
    background: linear-gradient(hsla(282, 61%, 16%, 0.95), 15%));}
#room-settings-menu .item.selected {
    background: linear-gradient(hsla(282, 61%, 16%, 0.95), hsla(282, 61%, 16%, 0.95));}
.dropdown {
    background: linear-gradient(hsla(220, 6%, 18%, 0.78), hsla(220, 4%, 5%, 0.91)) !important;}
.dropdown dd {
    background: hsla(220, 0%, 5%, 0.8) !important;}
.dropdown dt {
    -webkit-box-shadow: inset -39px 0 0 0 #000000;
    -moz-box-shadow: inset -39px 0 0 0 #000000;
    box-shadow: inset -39px 0 0 0 #000000;}

/* BG Conf comu */
#user-view,
#dashboard,
#room-settings,
#media-panel,
#playlist-panel,
#history-panel {
    background: linear-gradient(hsla(210, 10%, 7%, .9), hsla(210, 10%, 5%, .9)) !important;}
#user-menu,
#room-settings-menu,
#playlist-menu {
    background: linear-gradient(to right, hsla(210, 10%, 10%, 0), hsla(210, 10%, 10%, .2));}

/* BG Avatar loja */
.user-content .grid .cell .top {
    background: none !important;}
.user-content .grid .cell,
.user-content.communities .grid .cell {
    border-radius: 15px;}
.user-content .grid .cell:hover > .top {
    background: rgba(0, 147, 245, 0.14) !important;                
    border-radius: 15px;}
#user-store .misc .grid .cell .title-bar {
    background: none;}
#user-store .misc .grid .cell .title-bar span {
    font-size: 15px;}

/* BG Avatar perfil*/
#user-menu .avatar {
    background:hsla(220, 0%, 5%, 0) !important;
/* Borda icone avatar */
#user-rollover.role-host .thumb {
    border-color: #db182e !important;}
#user-rollover.role-cohost .thumb {
    border-color: #ff1e37 !important;}
#user-rollover.role-manager .thumb {
    border-color: #be9113 !important;}
#user-rollover.role-bouncer .thumb {
    border-color: #05abe4 !important;}
#user-rollover.role-dj .thumb {
    border-color: #7936e8 !important;}
#user-rollover.role-user .thumb {
    border-color: #007a5a !important;}

#footer-user .back {
    background: linear-gradient(hsl(40, 61%, 53%), hsla(42, 62%, 21%, 0.95));}
	
	@media (max-width: 1600px) {
    #room .app-right {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
    }
}
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .mention {
    font-weight: 700;
    /*padding-left: 25px;*/
    border-left: #7681FF 3px solid;
}
#chat .emote .from {
     color: #ac76ff !important;
}
#chat .emote {
    border-left: rgba(174, 69, 189, 1) 3px solid !important;
    background-color: rgba(76, 93, 119, 0.22) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #ac76ff;

#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}

#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}

}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);

/* Colour settings for overlap */
#volume .slider {
    background-color: rgba(28, 31, 37, 0.10) !important;
    box-shadow: 0px -19px 0px 6px rgba(28, 31, 37, 0.10), 0px 18px 0px 6px rgba(28, 31, 37, 0.10) !important;}

/* Tooltip BG */
#tooltip span {
    background: rgba(0, 0, 0, 0.65) !important;}
#tooltip.right .corner {
    border-top: 10px solid transparent !important;
    border-right: 10px solid transparent !important;}
#tooltip .corner {
    border-top: 10px solid transparent !important;
    border-left: 10px solid transparent !important;}
#toast-notifications .notification .right {
    background: rgba(43, 43, 43, 0.94) !important;}
#toast-notifications .notification .left {
    background: rgba(43, 43, 43, 0.94) !important;}
#rcs-loader-progress {
    background-color: rgba(43, 43, 43, 0.94) !important;
    border: 3px solid rgba(43, 43, 43, 0.94) !impor/* Menu plug */
#app-menu,
#app-menu .list {
    background: rgba(18, 20, 23, 0.62) !important;}
#app-menu .list .item:hover {
    background: rgba(105, 79, 28, 0.32);}
#app-menu .list .rcsunload:hover,
#app-menu .list .logout:hover {
    border: 1px solid #836425 !important;
    background: rgba(105, 79, 28, 0.32) !important;}tant;}

/* Interface */
#footer-user .info {
    background: rgba(0, 0, 0, 0.70);}
#dashboard {
    background: rgba(0, 0, 0, 0.5) !important;}
.tab-menu button.selected {
    background: linear-gradient(hsla(284, 61%, 54%, 1), hsla(284, 61%, 54%, 1)) !important;}
.tab-menu button:hover {
    background: linear-gradient(hsla(284, 61%, 54%, 1), hsla(284, 61%, 54%, 1));}
.tab-menu button {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;}
#rcs-progress-container {
    background-color: #4F0754 !important;}
#rcs-progress-container .bar {
    background: linear-gradient(hsla(284, 61%, 43%, 0.69), hsla(284, 61%, 43%, 0.69)) !important;}
#user-menu .item.selected {
    background: linear-gradient(hsla(284, 61%, 43%, 0.69), hsla(284, 61%, 43%, 0.69));}
#playlist-menu .menu .row .count {
    color: #ab42d1;}
#user-view {
    background: rgba(17, 19, 23, 0.8) !important;}
#user-menu {
    background: rgba(28, 31, 37, 0) !important;}
#rs-skip-button {
    background: rgba(28, 31, 37, 0) !important;}
#history-button {
    background: rgba(28, 31, 37, 0) !important;}
#dj-button {
    background: rgba(34, 34, 36, 0.59);
    border-radius: 8px;}
#vote .top {
    background: rgba(34, 34, 36, 0.4) !important;}
#room .app-right {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.70) 0, rgba(0, 0, 0, 1) 100%);    
}
#room-host,
#room-name {
    left: 75px;}
#room-bar .icon-room {
    top: 8px;
    left: 10px;}
i.icon.icon-room {
    width: 65px;
    height: 50px;}
.icon-room {
    background: url(http://i.imgur.com/CTdbzBq.png?1) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 100%;
    margin-left: -5px;
    margin-top: 5px;}
.app-header {
    background: rgba(28, 31, 37, 0.59);}

#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
