/*.room-background {
    background: url(https://cdn.radiant.dj/rcs/radiant.music.nov1.jpg) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}*/
#user-lists .list.staff .group {
    background: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 1) 100%) !important;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
#app-header {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#store-button {
    background: linear-gradient(to bottom,#FF0000 0,#A00000 100%);
}
#plug-dj {
    background: linear-gradient(to bottom,#0268AC 0,#02225C 100%);
}
.header-panel-button.selected {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(255, 255, 255, 0.06) 100%);
}
#plug-menu {
    background: rgba(40, 44, 53, 0.94) !important;
}
#plug-menu .legal {
    background: rgba(68, 74, 89, 0.46) !important;
}
#settings {
    background: rgba(10, 10, 10, 0.89) !important;
}
#user-lists .list .user:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}
#waitlist .list .user {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.13) 100%) !important;
}
.app-right .friends {
    background: none !important;
}
#settings .header {
    background: rgba(28, 31, 37, 0.78) !important;
}
@media (max-width: 1600px) {
    #room .app-right {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
    }
}
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .mention {
    font-weight: 700;
    /*padding-left: 25px;*/
    border-left: #7681FF 3px solid;
}
#chat .emote .from {
     color: #ac76ff !important;
}
#chat .emote {
    border-left: rgba(174, 69, 189, 1) 3px solid !important;
    background-color: rgba(76, 93, 119, 0.22) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #ac76ff;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
.social-menu .icon-twitter,.social-menu .icon-facebook {
    opacity: 1;
}
#playlist-panel {
    background: rgba(17, 19, 23, 0.9);
}
#playlist-menu {
    background: rgba(28, 31, 37, 0.67);
}
#search {
    background: rgba(50, 55, 66, 0.58);
}
#search-bar {
    background: rgba(17, 19, 23, 0.77);
}
#filter-bar {
    background: rgba(17, 19, 23, 0.77);
}
#playlist-edit-button {
    background: rgba(85, 93, 112, 0.75);
}
#playlist-shuffle-button {
    background: rgba(68, 74, 89, 0.75);
}
#playlist-delete-button {
    background: rgba(50, 55, 66, 0.75);
}
#user-panel .score {
    background: rgba(28, 31, 37, 0.59);
}
#dj-button.is-locked .left,#dj-button.is-full .left,#vote .crowd-response.disabled .bottom {
    background: #222224;
}
#dj-button.is-quit .left, #dj-button.is-leave .left, #dj-button.is-wait .left, #dj-button.is-locked .left, #dj-button.is-full .left {
background: #121214;
border-radius: 8px;
/*border-left-width: 4px;*/
}
/*#dj-button.is-quit .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-leave .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-wait .left {
border-left: 3px solid #00b5e6;
}
#dj-button.is-locked .left {
border-left: 3px solid #734ba9;
}
#dj-button.is-full .left {
border-left: 3px solid #CCCCCC;
}*/
#dj-button {
background: #222224;
border-radius: 8px;
}
#vote .crowd-response {
background: #222224;
}
#woot .bottom, #woot.selected {
background: #90ad2f;
}
#grab .bottom, #grab.selected {
background: #aa74ff;
}
#meh .bottom, #meh.selected {
background: #c42e3b;
}
.row:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%) !important;
}
#chat .mention .msg {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%);
}
#user-lists .list.room .user .icon-meh {
    top: -1px !important;
    right: 8px !important;
    left: auto !important;
}

#user-lists .list.room .user .icon-grab {
    right: 35px;
}
/* Chat Fade */

#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
  -webkit-animation: fadein 0.35s;
  -moz-animation: fadein 0.35s;
  -ms-animation: fadein 0.35s;
  -o-animation: fadein 0.35s;
  animation: fadein 0.35s;
}

@keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-moz-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-webkit-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-ms-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-o-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

#user-lists .list {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

#waitlist .list {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

#chat .welcome {
    color: #b77100;
}
#room-host,
#room-name {
    left: 75px;}
#room-bar .icon-room {
    top: 8px;
    left: 10px;}
i.icon.icon-room {
    width: 65px;
    height: 50px;}
.icon-room {
    background: url(http://i.imgur.com/IV59vOZ.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 100%;
    margin-left: -5px;
    margin-top: 5px;}
}
.app-header {
    background: rgba(0, 15, 31, 0.59);
    -webkit-box-shadow: inset 0 -2px 0 -1px rgba(0, 47, 97, 0.63);
    -moz-box-shadow: inset 0 -2px 0 -1px rgba(0, 47, 97, 0.63);
    box-shadow: inset 0 -2px 0 -1px rgba(0, 47, 97, 0.63);
}

#rs-skip-button {
    background: none !important;
}

#footer-user .buttons .button.settings:hover .icon {
    -moz-transform: rotate(360deg)!important;
    -webkit-transform: rotate(360deg)!important;
    transform: rotate(360deg)!important
}

#footer-user .buttons .button.settings .icon {
    -moz-transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out
}

#user-lists .group.host {
    color: rgba(0, 181, 230, 1);
    top: px;}
.icon-chat-host + span,
#user-lists .group.host ~ .user span,
#dialog-user-role .role-menu .menu ul .host span {
    color: rgba(0, 181, 230, 1) !important;}
.icon-chat-cohost + span,
#user-lists .group.cohost ~ .user span,
#dialog-user-role .role-menu .menu ul .cohost span {
    color: rgba(0, 181, 230, 1) !important;}
#user-lists .group {
    border: none !important;
    box-shadow: 0 0 0px 0px;}
}

#user-lists .group.manager {
    color: #ab48c6;}
.icon-chat-manager + span,
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
    color: #ab48c6 !important;}
}

#user-lists .group.bouncer {
    color: #F3508F;}
.icon-chat-bouncer + span,
#user-lists .group.bouncer ~ .user span,
#dialog-user-role .role-menu .menu ul .bouncer span {
    color: #F3508F !important;}
}

#user-lists .group.dj {
    color: #09FAE2;}
.icon-chat-dj + span,
#user-lists .group.dj ~ .user span,
#dialog-user-role .role-menu .menu ul .dj span {
    color: #09FAE2 !important;}

}

#user-lists .list.staff .group{  
   background:linear-gradient(to right,
   rgba(8, 24, 94, 1) 100%)!important;border-top:1   px solid #04203c;border-bottom:1   px solid #04203c;
}#user-lists .list.staff .group.host .icon-chat-host{  
   background url(https://i.imgur.com/6dyCNXr.png) no-repeat;
}#user-lists .list.staff .group.cohost .icon-chat-cohost{  
   background:   url null; no-repeat;
}#user-lists .list.staff .group.manager .icon-chat-manager{  
   background:   url(https://dl.dropboxusercontent.com/////////s/////////93yaygdcir8u4yd/////////icon.managermod.png) no-repeat;
}#user-lists .list.staff .group.bouncer .icon-chat-bouncer{  
   background:   url(https://cdn.radiant.dj/rcs/icons/radiant/bouncer.png) no-repeat;
}#user-lists .list.staff .group.dj .icon-chat-dj{  
   background:   url(https://cdn.radiant.dj/rcs/icons/radiant/residentdj.png) no-repeat;
    
}
#history-button {
    background: rgba(28, 31, 37, 0) !important;
}

.thumb .background {
    background: rgba(0, 0, 0, 0.6);
}

#user-view,
#dashboard,
#room-settings,
#media-panel,
#playlist-panel,
#history-panel {
    background: linear-gradient(hsla(210, 10%, 7%, .9), hsla(210, 10%, 5%, .9)) !important;
}

#user-menu,
#room-settings-menu,
#playlist-menu {
    background: linear-gradient(to right, hsla(210, 10%, 10%, 0), hsla(210, 10%, 10%, .2));
}

/*Barra de XP*/
.experience .xp .bar .progress {
    background: linear-gradient(rgba(255, 92, 222, 1), rgba(87, 0, 255, 1));
}
#footer-user .info .bar .progress {
    background: linear-gradient(rgba(255, 92, 222, 1), rgba(87, 0, 255, 1));
}

/*Menu info user*/
#user-rollover {
    background: rgba(0, 0, 0, 0.5);
}

#user-rollover .info {
    background: none;
}

#user-rollover .actions .action:hover {
    background: rgba(0, 0, 0, 0.5);
}

#user-rollover .actions .giftsub,
#user-rollover .actions .skip {
    -webkit-box-shadow: inset 0 -2px 0 -1px hsla(40, 53%, 51%, 0);
    -moz-box-shadow: inset 0 -2px 0 -1px hsla(40, 53%, 51%, 0);
    box-shadow: inset 0 -2px 0 -1px hsla(40, 53%, 51%, 0);
}

#user-rollover .actions .friend,
#user-rollover .actions .gift,
#user-rollover .actions .ignore,
#user-rollover .actions .mention {
    -webkit-box-shadow: inset 2px 0 0 -1px hsla(40, 53%, 51%, 0);
    -moz-box-shadow: inset 2px 0 0 -1px hsla(40, 53%, 51%, 0);
    box-shadow: inset 2px 0 0 -1px hsla(40, 53%, 51%, 0)
}

#user-rollover .actions .mod-dj {
    -webkit-box-shadow: inset 0 2px 0 -1px hsla(40, 53%, 51%, 0);
    -moz-box-shadow: inset 0 2px 0 -1px hsla(40, 53%, 51%, 0);
    box-shadow: inset 0 2px 0 -1px hsla(40, 53%, 51%, 0);
}

#user-rollover .actions .mod-ban,
#user-rollover .actions .mod-mute,
#user-rollover .actions .mod-staff {
    -webkit-box-shadow: inset 1px 1px 0 0 hsla(40, 53%, 51%, 0);
    -moz-box-shadow: inset 1px 1px 0 0 hsla(40, 53%, 51%, 0);
    box-shadow: inset 1px 1px 0 0 hsla(40, 53%, 51%, 0);
}

.action.rcs-qmute {
    box-shadow: hsla(40, 53%, 51%, 0.65) 0px 2px 0px -1px inset !important;
}

.action.rcs-qban {
    box-shadow: hsla(40, 53%, 51%, 0.65) 1px 1px 0px 0px inset !important;
}

.action.rcs-qinfo {
    box-shadow: hsla(40, 53%, 51%, 0) 1px 1px 0px 0px inset !important;
}

#user-rollover .meta {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
/* Shake Face e Twitter icones */
#facebook-menu:hover {
  animation: shake 0.82s cubic-bezier(.16,.07,.19,.25) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);} 
  20%, 80% {
    transform: translate3d(1px, 0, 0);}
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);}
  40%, 60% {
    transform: translate3d(2px, 0, 0);}
}
#twitter-menu:hover {
  animation: shake 0.82s cubic-bezier(.16,.07,.19,.25) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(1px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0); }
  40%, 60% {
    transform: translate3d(2px, 0, 0);}
}
/* Hover itens menu usuÃ¡rio plug */
.item.profile.notify:hover,
.item.inventory:hover,
.item.store:hover,
.item.friends.notify:hover,
.item.played:hover,
.item.settings:hover {
    background: linear-gradient(rgba(224, 0, 180, 0.45), rgba(92, 10, 255, 0.5));
    border-radius: 0px;}
.item.community:hover {
    background: linear-gradient(rgba(224, 0, 180, 0.45), rgba(92, 10, 255, 0.5));
}
/* Menu plug */
#app-menu,
#app-menu .list {
    background: rgba(18, 20, 23, 0.62) !important;}
#app-menu .list .item:hover {
    background: rgba(16, 10, 10, 0.22);}
#app-menu .list .rcsunload:hover,
#app-menu .list .logout:hover {
    border: 1px solid #100404 !important;
    background: rgba(16, 10, 10, 0.22) !important;
}
/*  peles rulits */
::-webkit-scrollbar-thumb {
    background: rgba(16, 12, 5, 0.07) !important;
    border-radius: 5px;}
.jspDrag:hover,
.jspTrack .jspActive,
.jspTrack .jspHover {
    background: rgba(16, 12, 5, 0.07) !important;}
.jspDrag {
    background: rgba(121, 66, 154, 0.72);
    -webkit-box-shadow: inset 0 0 0 1px rgba(121, 66, 154, 0.72);
    -moz-box-shadow: inset 0 0 0 1px rgba(121, 66, 154, 0.72);
    box-shadow: inset 0 0 0 1px rgba(121, 66, 154, 0.72);
    border-radius: 5px;}

/*Lista das salas*/
.communities .grid .cell .bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 43px;
    background: rgba(0, 0, 0, 0.5);}
.communities .grid .cell {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px 15px 0;
    width: 250px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;}
.communities .grid .cell:hover>.meta {
    margin-top: 43px;
    height: 257px;
    background: rgba(40, 40, 40, 0.7);
    transition: all .15s ease-out;}
.communities .grid .cell:hover>.meta .join {
    bottom: -80px !important;
    transition: all .15s ease-out;
}
.communities .grid .cell .favorite {
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    background: rgba(197, 152, 64, 0);}
.communities .grid .cell .meta {
    position: relative;
    z-index: 2;
    margin-top: 186px;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.5);
    transition: all .25s ease-in;}
.communities .grid .cell .meta .join {
    border-radius: 10px;
    border: 1px solid rgba(196, 152, 64, 0.63);
    background: rgb(0, 0, 0);}
.communities .grid .cell .meta .join:hover {
    background: linear-gradient(hsl(40, 61%, 53%), hsla(42, 62%, 21%, 0.95));}
.grid .cell .bar, .grid .cell .meta {
background: linear-gradient(hsla(0, 0%, 0%, 0.94), hsla(0, 0%, 0%, 0.94)) !important;}
#chat .welcome {
    color: #c59840;}
.grid .cell .top .expires span {
	color: hsl(30,100%,50%) !important;}
.user-content.communities .grid .cell, .grid .cell {
    background: radial-gradient(hsl(0, 0%, 0%), hsl(0, 0%, 0%)) !important;}
.grid .cell .meta .host {
	text-align: center !important;
	top: 6px !important;
	color: #eee !important;
}
/* + Always show volume */
#volume .slider {
    display: block !important;
    top: 26px !important;
    right: -62px !important;
}
* Interface */
#footer-user .info {
    background: rgba(0, 0, 0, 0.70);
}
#dashboard {
    background: rgba(0, 0, 0, 0.5) !important;}

.tab-menu button.selected {
    background: linear-gradient(hsla(312, 100%, 44%, 0.45), hsla(260, 100%, 52%, 0.5)) !important;
}
.tab-menu button:hover {
    background: linear-gradient(hsla(312, 100%, 44%, 0.45), hsla(260, 100%, 52%, 0.5));
}
.tab-menu button {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
#rcs-progress-container {
    background-color: #000 !important;
}
#rcs-progress-container .bar {
    background: linear-gradient(hsla(312, 100%, 44%, 0.45), hsla(260, 100%, 52%, 0.5)) !important;
}
#user-menu .item.selected {
    background: linear-gradient(hsla(312, 100%, 44%, 0.45), hsla(260, 100%, 52%, 0.5));
}
#playlist-menu .menu .row .count {
    color: #12afce;}
#user-view {
    background: rgba(17, 19, 23, 0.8) !important;
}
#user-menu {
    background: rgba(28, 31, 37, 0) !important;
}
#rs-skip-button {
	background: rgba(28, 31, 37, 0) !important;
}
#history-button {
    background: rgba(28, 31, 37, 0) !important;
}
#vote .top {
    background: rgba(34, 34, 36, 0.4) !important;
}
#room .app-right {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.70) 0, rgba(0, 0, 0, 1) 100%);    
}
}#user-rollover.is-staff.role-manager .online .thumb{  
   border-color:#ab48c6!important;
}#user-rollover.is-staff .role .icon-chat-manager+span{  
   color:#ab48c6!important;
}#user-rollover.is-staff .role .icon-chat-manager{  
   background:   url('https://dl.dropboxusercontent.com/////////s/////////93yaygdcir8u4yd/////////icon.managermod.png')!important;
	
	}#user-rollover.is-staff.role-bouncer .online .thumb{  
   border-color:#F3508F!important;
}#user-rollover.is-staff .role .icon-chat-bouncer+span{  
   color:#F3508F!important;
}#user-rollover.is-staff .role .icon-chat-bouncer{  
   background:   url('https://cdn.radiant.dj/rcs/icons/radiant/bouncer.png')!important;
	
	}#user-rollover.is-staff.role-dj .online .thumb{  
   border-color:#09FAE2!important;
}#user-rollover.is-staff .role .icon-chat-dj+span{  
   color:#09FAE2!important;
}#user-rollover.is-staff .role .icon-chat-dj{  
   background:   url('https://cdn.radiant.dj/rcs/icons/radiant/residentdj.png')!important;
}	
	/* Interface */
#footer-user .info {
    background: rgba(0, 0, 0, 0.70);
}
